#calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    box-shadow: 5px 10px 38px #888888;
    border-radius: 7px;
    width: 320px;
    background-color: #000000;
    overflow:hidden;
}



