* {
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0; 
    height: 100vh; 
}

h1 {
    text-align: center;
}

#calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 10px 38px #888888;
    border-radius: 7px;
    width: 300px;
}

#inputWrapper {
    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 60px);
    
}

#displayWrapper {
    background-color: #000000; 
    grid-column: 1 / -1; 
    text-align: right;
    padding: 5px 5px 0 0;
    border-radius: 7px 7px 0 0;
    
}


#displayWrapper .main-result {
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inputWrapper > button {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #5e4848;
    font-size: 2rem;
}

#inputWrapper > button:hover {
    cursor: pointer;
    background-color: #f7cd85;
    color: #333333;
}

.span-two {
    grid-column: span 2;
    border-radius: 0 0 0 7px;
}


.corner3 {
    border-radius: 0 0 7px 0;
}

.all-clear, .negative, .delete {
    background-color: #4c3b3b;
}

.number {
    background-color: #7c7272;
}

#divide, #multiply, #subtract, #add, #equals {
    background-color: #ffa500;
}

footer {
    text-align: center;
    margin-top: 10px;
}