* {
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: radial-gradient(circle, #fff, #b4b4b4);
    margin: 0;
    padding: 0; 
    height: 100vh; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



